/* The animation code */
@keyframes render {
  0%   {background-color:red; }
  100% {background-color:rgb(179, 235, 173); }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(33, 33, 33);
}

.node {
  margin-top: 30px;
}

.counter {
  font-size: 10px;
}


.node .itself {
  width: 30px;
  height: 30px;
  background-color: rgb(179, 235, 173);
  border: solid 1px rgb(66, 66, 66);
  border-radius: 50%;
  margin: auto;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
}

.node .child {
  display: flex;
  justify-content: space-around;
}

.child .node {
  width: 50%;
}

.node .itself.render {
  animation-name: render;
  animation-duration: 1s;
}